/* Color Palette
   Primary Background Color: #F3E9D2
   Text Color: #5A4639
   Header/Footer Background Color: #6B5847
   Navigation Bar Background Color: #9C8065
   Navigation Bar Hover Background Color: #C9A875
   Accent Color (Blue): #4e7783
   Accent Text Color: #564e38
*/

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3E9D2; /* Light beige background */
    color: #5A4639; /* Dark brown text color */
}

header, footer {
    background-color: #6B5847; /* Warm dark brown for header and footer */
    color: #F3E9D2; /* Light beige text color */
    text-align: center;
    padding: 1em 0;
}

header h1, footer p {
    margin: 0;
}

nav {
    background-color: #9C8065; /* Medium brown for nav */
}

nav ul {
    list-style: none;
    padding: 20px;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    transition: background-color 0.5s; /* Smooth transition for the background color */
    font-size: 18pt;
    padding: 10px 0;
}

nav ul li a {
    color: #F3E9D2; /* Light beige for nav links */
    text-decoration: none;
    padding: 5px 10px; /* Add some padding for better hover effect */
    margin: 1em;
}

nav ul li:hover {
    background-color: #4e7783; /* Blue accent for hover effect */
    padding: 10px 0;
}

nav ul li:active {
    background-color: #4e7783; /* Blue accent for hover effect */
    padding: 10px 0;
}

.content {
    max-width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: #FFFFFF; /* White for content background */
}

img {
    max-width: 100%;
    height: auto;
}

.accent {
    color: #564e38; /* Accent text color */
}

.blue-accent {
    color: #4e7783; /* Blue accent color */
}

.blue-accent-bg {
    background-color: #4e7783; /* Blue accent background */
}

.blue-accent-border {
    border-color: #4e7783; /* Blue accent border */
}

/* Additional styling as needed */
